html, body{
	margin: 0px; 
	padding:0px;
}

*{	
	font-family: monospace, serif !important;
}

a{
	color: #000;
	text-decoration: none;
}

table {
	border-collapse:collapse;
	border-bottom:1px solid lightgray;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	width: 90%;
	margin-left: 5%;
	border-radius: 10px;
	overflow: hidden;
}

table *{
	font-weight: bold;
	width: auto;
}
 
th {
	border-bottom:1px solid #eee;
	background:none repeat scroll 0 0 #09c332;
	padding:10px;
	color: #000;
}

tr {
	border-top:1px solid #ccc;
	text-align:center;	
}

td{
	padding: 5px;
}


.updateLink{
	color: blue;
}

.updateLink:hover {
	border-bottom: 1px solid blue;
}

.deleteLink{
	color: red;
}
 
.deleteLink:hover{
	border-bottom: 1px solid red;
}
 
tr:nth-child(even) {background: #FFFFFF}
tr:nth-child(odd) {background: #e1ffd1}
 
#wrapper {width: 100%; margin-top: 0px; }
#header {width: 100%; background: #09c332; margin-top: 0px; padding:15px 0px 15px 15px;}
#header h2 {width: 100%; margin:auto; color: #FFFFFF;}
#container {width: 100%; margin:auto}
#container h3 {color: #000;}
#container #content {margin-top: 20px;}

.add-button {
	border: 1px solid #ccc; 
	border-radius: 5px; 
	padding: 5px 7px; 
	font-size: 1rem;
	font-weight: bold;
	padding: 5px 10px; 
	margin-bottom: 1rem;
	margin-left: 1rem;
	background: rgb(0, 128, 192);
	color: #fff;
}

.add-button:hover{
	box-shadow: 0x 0px 16px -4px aliceblue;
	cursor: pointer;
}